<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startseite - M-CoV Schnelltest</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"rel="stylesheet"/>
  </head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
          <a href="/" id="navbar__logo"> <i><img class="logo fa-gem" src="/images/logo.png" alt=""></i></a>
          <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
            <li class="navbar__item">
              <a href="/" class="navbar__links">Home</a>
            </li>
            <li class="navbar__item">
              <a href="/" class="navbar__links">Kontakt</a>
            </li>
            <li class="navbar__btn"><a href="/" class="button">Termin buchen</a></li>
          </ul>
        </div>
      </nav>
      <div class="main">
        <div class="main__container">
        <div class="main__content">
            <h1>Corona Schnelltest</h1>
            <h2>Ergebnis in max. 15 Min</h2>
            <p>um lange Wartezeit zu vermeinden, sichern Sie sich jetzt einen Termin!</p>
            <button class="main__btn">
                <a href="/"> Termin buchen</a>
            </button>
        </div>
        <div class="main__img--container">
            <img src="/images/undraw_doctors_hwty.svg" alt="Corona Schnelltest" id="main__img">
        </div>
    </div>
      </div>
      <!-- Info  -->
      <div class="info">
          <h1> Testverfahren </h1>
          <div class="info__container">
              <div class="info__card">
                  <h2> Termin buchen</h2>
                  <p> buchen Sie einen Termin auf unsere Webseite und Sie erhalten eine Bestätigung per Mail. Bitte lesen Sie die Mail, bevor Sie zum Termin erscheinen!</p>
              </div>
              <div class="info__card">
                <h2>Bitte Bringen Sie folgendes mit:</h2>
                <p> Mailbestätigung und ein amtliches Ausweisdokument (bei Kindern: Krankenkassenkarte). Beachten Sie die geltenden Abstandsregelungen sowie die FFP2-Maskenpflicht </p>
            </div>
            <div class="info__card">
                <h2>Ergebnis</h2>
                <p> Das Ergebnis erhalten Sie nach 15 Min per Mail. Falls Sie kein Ergebnis erhalten überprüfen Sie Ihr Spam-Order und rufen Sie uns an</p>
            </div>
          </div>
      </div>
      
      <div class="info_2">
        <h1> Wichtige Informationen </h1>
        <div class="info_2__container">
            <div class="info_2__card">
                <p> Wenn Sie sich krank fühlen, konsultieren Sie einen Arzt. Wir können Sie nur ohne Symptome testen.</p>
            </div>
            <div class="info_2__card">
                <p> Erscheinen Sie pünktlich (max. 10 Min. früher) zu Ihrem Termin, um Ansammlungen zu vermeiden. Leider können wir – je nach Kundenandrang – Termine nicht immer exakt einhalten. </p>
            </div>
            <div class="info_2__card">
              <p> Im Falle eines positiven Corona-Testergebnisses erhalten Sie wichtige Informationen vom bayerischen Staatsministerium für Gesundheit und Pflege als PDF zugesandt. Einen Downloadlink zu diesem PDF finden Sie hier. </p>
          </div>

        </div>
    </div>
    <div class="footer__container">
        <div class="footer__links">
          <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Kontakt</h2>
                <a href="mailto:info@m-cov.de">info@m-cov.de</a> <a href="tel:+4912345678">+4912345678</a>
              </div>
              <div class="footer__link--items">
                <h2>Anschrift</h2>
                  <p>
                      M-Cov Schnelltest 
                      Musterstraße 1 
                      93049 Regensburg
                  </p>
              </div>
          </div>
          <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Öffnungszeiten</h2>
                  <p>
                    Antigen-Schnelltest
                    <br>
                    Mo – Fr:  06:30 – 20:00
                    <br>
                    Sa / So:  07:30 – 20:00
                  </p>
              </div>
            <div class="footer__link--items">
              <h2>Social Media</h2>
              <a href="/">Instagram</a> <a href="/">Facebook</a>
              <a href="/">Youtube</a> <a href="/">Twitter</a>
            </div>
          </div>
        </div>
        <section class="social__media">
          <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="navbar__logo"> <i><img class="logo fa-gem" src="/images/logo.png" alt=""></i></a>
            </div>
            <p class="website__rights">© Mein Covid Test 2022. Alle Rechte vorbehalten</p>
            <div class="social__icons">
              <a
                class="social__icon--link"
                href="/"
                target="_blank"
                aria-label="Facebook"
              >
                <i class="fab fa-facebook"></i>
              </a>
              <a
                class="social__icon--link"
                href="/"
                target="_blank"
                aria-label="Instagram"
              >
                <i class="fab fa-instagram"></i>
              </a>
              <a
                class="social__icon--link"
                href=""
                target="_blank"
                aria-label="Youtube"
              >
                <i class="fab fa-youtube"></i>
              </a>
              <a
                class="social__icon--link"
                href="/"
                target="_blank"
                aria-label="Twitter"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                class="social__icon--link"
                href="/"
                target="_blank"
                aria-label="LinkedIn"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
    <script src="/js/app.js"></script>
</body>
</html>