<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startseite - M-CoV Schnelltest</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"rel="stylesheet"/>
  </head>
<body>
    <nav class="navbar">
        <div class="navbar__container">
          <a href="/" id="navbar__logo"> <i><img class="logo fa-gem" src="/images/logo.png" alt=""></i></a>
          <div class="navbar__toggle" id="mobile-menu">
            <span class="bar"></span> <span class="bar"></span>
            <span class="bar"></span>
          </div>
          <ul class="navbar__menu">
            <li class="navbar__item">
              <a href="/" class="navbar__links">Home</a>
            </li>
            <li class="navbar__item">
              <a href="/" class="navbar__links">Kontakt</a>
            </li>
            <li class="navbar__btn"><a href="/" class="button">Termin buchen</a></li>
          </ul>
        </div>
      </nav>
      <div class="main">
        <div class="main__container">
        <div class="main__content">
            <h1>Corona Schnelltest</h1>
            <h2>Ergebnis in max. 15 Min</h2>
            <p>um lange Wartezeit zu vermeinden, sichern Sie sich jetzt einen Termin!</p>
            <button class="main__btn">
                <a href="/"> Termin buchen</a>
            </button>
        </div>
        <div class="main__img--container">
            <img src="/images/undraw_doctors_hwty.svg" alt="Corona Schnelltest" id="main__img">
        </div>
    </div>
      </div>
      
    <script src="/js/app.js"></script>
</body>
</html>